.profile__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 9px;
}

@media screen and (max-width: 540px) {
  .profile__heading {
    position: relative;
    justify-content: center;

    margin-bottom: 7px;

    transform: translateX(14px);
  }
}
