.edit-form__input {
  display: block;
  width: 100%;

  margin-bottom: 26px;
  padding-bottom: 11px;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  font-size: 14px;
  line-height: 17px;
}

.edit-form__input::placeholder {
  color: #c4c4c4;
}

.edit-form__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 540px) {
  .edit-form__input:last-of-type {
    margin-bottom: 45px;
  }
}
