.profile__edit {
  border: 1px solid #fff;
  background: url('../../../images/edit.svg') no-repeat center / 10px;

  width: 24px;
  height: 24px;
  padding: 0;

  transition: opacity .1s linear;
  transform: translateY(15%);

  flex-shrink: 0;
}

.profile__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .profile__edit {
    background-size: calc(15px / 2);

    width: 18px;
    height: 18px;
  }
}
