.zoom-preview {
  display: block;
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;

  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}
