.gallery__card-like {
  width: 21px;
  height: 19px;
  flex-shrink: 0;

  padding: 0;

  background: transparent url('~src/images/icons/heart.svg') no-repeat center / contain;
  border: none;
  cursor: pointer;

  transition: opacity .1s linear;
}

.gallery__card-like:hover {
  opacity: .6;
}
