.edit-form__submit {
  width: 100%;

  border: none;
  background-color: #000;
  color: #fff;

  font-size: 18px;
  line-height: 22px;

  padding-top: 14px;
  padding-bottom: 14px;

  transition: opacity .1s linear;
}

.edit-form__submit:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .edit-form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
