.edit-form__submit {
  width: 100%;

  border: none;
  background-color: #000;
  color: #fff;

  font-size: 18px;
  line-height: 22px;

  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (max-width: 530px) {
  .edit-form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
