.gallery__card-delete {
  width: 18px;
  height: 20px;

  position: absolute;
  top: 18px;
  right: 15px;

  padding: 0;

  background: transparent url('../../../images/icons/delete.svg') no-repeat center / contain;
  border: none;
  cursor: pointer;
  /* невозможно увидеть на очень светлом/белом фоне, сделано как временное решение */
  -webkit-filter: drop-shadow(0 0 3px #000);
  filter: drop-shadow(0 0 3px #000);

  transition: opacity .1s linear;
}

.gallery__card-delete:hover {
  opacity: .6;
}
