.gallery__card-like {
  background: transparent url('../../../images/heart.svg') no-repeat center / contain;
  padding: 0;

  cursor: pointer;

  width: 21px;
  height: 19px;

  border: none;
  flex-shrink: 0;

  transition: opacity .1s linear;
}

.gallery__card-like:hover {
  opacity: .6;
}
