.profile__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px -webkit-min-content;
  -ms-grid-columns: 1fr 18px min-content;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  -ms-grid-rows: -webkit-min-content 8px -webkit-min-content;
  -ms-grid-rows: min-content 8px min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-gap: 8px 18px;
  /* align-items: baseline некорректно отображается в firefox macOs */
  align-items: center;

  margin: auto 0;
}

.profile__info > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.profile__info > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.profile__info > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.profile__info > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

@media screen and (max-width: 540px) {
  .profile__info {
    grid-gap: 7px 10px;

    transform: translateX(14px);
  }
}
