.profile__job {
  margin-top: 0;
  margin-bottom: 0;

  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 530px) {
  .profile__job {
    text-align: center;

    font-size: 14px;
    line-height: 17px;
  }
}
